<app-header></app-header>
 <div style="display: flex;margin-top:10vh;width:60vw;" >
    <form style="margin-left:10vw;width:60vw;" (ngSubmit)="userPost()" [formGroup]="postForm" >
        <div >
            <label for="exampleFormControlTextarea1" style="color:white;" class="form-label">Write your Post</label>
            <textarea formControlName="tittle" class="form-control" id="exampleFormControlTextarea1" rows="6" [ngClass]="{ 'is-invalid': submitted && f.tittle.errors } " [(ngModel)]="posts.title"></textarea>
            <div *ngIf="submitted && f.tittle.errors" class="invalid-feedback">
                <div *ngIf="f.tittle.errors.required"><span style="color: white;">write something to create post</span></div>
            </div>
        </div><br>
          <div>
              <Button class="btn btn-primary">Create Post</Button>
          </div>
    </form>
    
 </div>   
 
