<section>
  <div class="signup-form" style="margin-top: 20vh;">
    <form (ngSubmit)="forgotPassword()" [formGroup]="userForm">
      <div class="row">
        <div class="form-group">
          <label>Enter your Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            [(ngModel)]="email"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div><br>
          <div class="text-center">
            <button class="btn btn-primary mr-1" type="submit">Send Mail</button>
          </div>
        </div>
      </div>
      <div class="text-center"> Don't have an account yet? <a href="/registr" style="color: rgb(211, 24, 24);">Sign Up</a></div>
    </form>
    
  </div>
</section>

